<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

		<title>ShortStop</title>
		<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css"> -->
		<link rel="stylesheet" href="{{static_url('css/app.css')}}">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    	<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    	<script src="{{static_url('js/shortstop.js')}}"></script>

	</head>
	<body>

			
		<div class="pure-menu">
			<a href="#" class="pure-menu-heading"><img src="{{static_url('img/logo.png')}}" /></a>
		</div>

		<div id="map-container">
	<!-- 		<div class="zoom-ui">
					<div class="zoom-in">
						<p>+</p>
					</div>
					<div class="zoom-out">
						<p>–</p>
					</div>a
				</div> -->
			<div id="map"></div>
		</div>

	

		<div id="overlay">
		    <a href="#" class="close">&times;</a>
    	    <div class="location">
    	    	<h2>My Location</h2>
    	    </div>
    	    <div class="category">
    	    	<h2>Food</h2>
    	    </div>
    	    <div class="venue">
    	    	<h2>Restaurant</h2>
    	    </div>
    	    <div class="thing">
    	    	<h2>Item</h2>
    	    </div>
		</div>
		<div id="mask" onclick="document.location='#';"></div> 

		<div id="button-bar">
			<div class="buttons">
				<a href="#"><div class="pure-button hungry">I'm Hungry</div></a>
				<a href="#"><div class="pure-button sober">I'm Sober</div></a>
				<a href="#"><div class="pure-button bored">I'm Bored</div></a>
			</div>
		</div>
	</body>

	<script type="text/javascript">

		$(document).ready(function(e){
			initApp();
		});

	</script>
</html>


