/**** DESKTOP ***/
@media screen and (min-width: 480px) {
	// body {
	// 	background:url(../img/sf-map.gif);
	// }
	html {
		height: 100%;
	}

	body {
		margin: 0;
		padding: 10px 20px 20px;
		font-family: Arial;
		font-size: 16px;

        height: 100%; margin: 0px; padding: 0px
	}

	#map-container {
		width: 100%; 
		height: 100%;
		// position: absolute;
		// margin-top: 37px;
		// padding-top: 37px;
		// z-index: 100;
	}

	#map {
		height: 100%;
		width: 100%;
	}


	.pure-menu {
		background:#eee;
		position: fixed;
		margin-top:0px;
		width:100%;
		margin-bottom:100px;
		z-index: 100;


	}

	.pure-menu a, .pure-menu .pure-menu-heading  {
		padding:0px 20px 5px 20px;

	}

	.zoom-ui {

		position: absolute;
		top:60px;
		left:20px;
		width:50px;
		height:100px;
		border-top:1px white solid;
		border-bottom:1px #ccc solid;
		text-align: center;
		border-radius:4px;
		z-index: 100;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);

		p {
			margin:0px;
			padding:5px 0px 0px 0px;
			color:#777;
			font-size:32px;
			font-weight:600;
			text-shadow: 0 1px 0 rgba(255,255,255,.4);
		}

		.zoom-in {
			width:50px;
			height:50%;
			background:#ddd;
			border-radius:4px 4px 0px 0px;
		}

		.zoom-out {
			width:50px;
			height:50%;
			background:#eee;
			border-radius:0px 0px 4px 4px;
		}

	}

	.green-button {
		background-color: #b7e42a;
		border-bottom:1px #98bc0f solid;
		width:70%;
		position: relative;
		font-size: 21px;
		font-weight:600;
		color:white;
		text-shadow: 0 -1px 0 #98bc0f;
		border-radius:4px;

	}

	.green-button-sm {
		background-color: #b7e42a;
		border-bottom:1px #98bc0f solid;
		width:150px;
		position: relative;
		font-size: 21px;
		font-weight:600;
		color:white;
		text-shadow: 0 -1px 0 #98bc0f;
		border-radius:4px;
		margin:30px 10px 10px 0px;

	}



	#button-bar {
		width:100%;
		position: absolute;
		margin:0 auto;
		bottom:40px;

		.pure-button {
			float: left;
			padding:8px 10px;
			color:#fff;
			font-weight:600;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);

		}
		.buttons {
			margin:0px auto;
			position: relative;
			width:310px;
			background:rgba(230,230,230,.8);
			border-top:1px rgba(255,255,255,.8) solid;
			border-bottom:1px rgba(200,200,200,.8) solid;
			padding:10px 20px;
			border-radius:6px;
			overflow: hidden;
			box-shadow: 0 2px 4px rgba(0,0,0,.25);


			.hungry {
				background:#f5c912;
				margin-right:3%;
				border-top:1px #ffe269 solid;
				border-bottom:1px #d3ac0b solid;
			}

			.sober {
				background:#badfce;
				margin-right:3%;
				border-top:1px #c7f2dc solid;
				border-bottom:1px #8ab7a0 solid;
			}

			.bored {
				background:#ee5c20;
				border-top:1px #f98258 solid;
				border-bottom:1px #c63806 solid;
			}

			.active {

			}
		}
	}

	.mark {
		width:60px;
		height:75px;
		position: relative;	

		span {
			position: absolute;
			left:25px;
			top:18px;
			font-weight: 600;

		}
	}

	.food {
		background:url(../img/food-mark.png);
	}

	.drink {
		background:url(../img/drink-mark.png);
	}

	.bored {
		background:url(../img/bored-mark.png);
	}



	*{margin:0;padding:0;}
	
	#overlay { 
		width:80%;
		margin:0 auto;
		background:#fafafa;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);
		border-top:white;
		border-bottom:1px ;
		color:#444;
		padding:30px 0px 20px 0px;
		position:absolute;
		top:100px;
		left:10%;
		z-index:1000;
		display:none;
		/* CSS 3 */
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		border-radius:4px;
		overflow: hidden;

		h2 {
			text-shadow: 0 1px 0 rgba(255,255,255,.25);
		}


		.arrow {
			background:url(../img/arrow.png);
			width: 20px;
			height: 23px;
			position: absolute;
			float: right;
			right:20px;
			margin-top:-45px;
			opacity: .3;
		}

		.back-arrow {
			background:url(../img/back-arrow.png);
			width: 20px;
			height: 23px;
			display: block;
			float: left;
			margin:22px 10px 0px -10px;
			opacity: .3;
		}


		.disabled {
			display:none;
		}

		.location {
			padding-left:20px;
			width: 100%;
			background: linear-gradient(to bottom, #f5f5f5 0%,#fafafa 100%);
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
		}
		.category {
			text-align: center;
			width: 100%;
			background-color: #f5f5f5;
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
			height:40px;

			h2 {
				padding:0px;
				margin-top:6px;
				color:white;
			}
		}

		.hungry {
				background:#f5c912;
				border-top:1px #ffe269 solid;
				border-bottom:1px #d3ac0b solid;

				h2{
					text-shadow: 0 -1px 0 #d3ac0b;
				}
		}

		.sober {
			background:#badfce;
			border-top:1px #c7f2dc solid;
			border-bottom:1px #8ab7a0 solid;

				h2{
					text-shadow: 0 -1px 0 #8ab7a0;
				}
		}

		.bored {
			background:#ee5c20;
			border-top:1px #f98258 solid;
			border-bottom:1px #c63806 solid;

				h2{
					text-shadow: 0 -1px 0 #c63806;
				}
		}

		.venue {
			padding-left:20px;
			width: 100%;
			background: linear-gradient(to bottom, #f5f5f5 0%,#fafafa 100%);
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
		}
		.item {
			padding-left:20px;
			width: 100%;
			background: linear-gradient(to bottom, #f5f5f5 0%,#fafafa 100%);
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
		}

		.do-button {
			width:70%;
			position: relative;
			margin:20px auto 0 auto;
			text-align: center;

		}

	}

	#do-it { 
		width:85%;
		margin:0 auto;
		background:url(../img/sunburst.png) #fafafa;
		background-position: center;
		border-top:1px white solid;
		border-bottom:1px #ddd solid;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);
		color:#444;
		padding:20px 0px;
		position:absolute;
		top:100px;
		left:7.5%;
		z-index:1000;
		display:none;
		/* CSS 3 */
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		border-radius:4px;
		overflow: hidden;
		text-align: center;

		.do-it-content {
			background:#f5f5f5;
			width:70%;
			margin:0 auto;
			padding:20px 0px;
			position: relative;
			box-shadow: 0 2px 4px rgba(0,0,0,.25);
			border-radius: 4px;

			.item-header-food {
				position: absolute;
					width:100%;
					height:20px;
					top:0;
					background:#f5c912;
					margin-bottom:20px;
					border-radius:4px 4px 0px 0px;
			}
		}


	}

	#itinerary { 
		width:85%;
		margin:0 auto;
		background:#fafafa;
		background-position: center;
		border-top:1px white solid;
		border-bottom:1px #ddd solid;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);
		color:#444;
		padding:20px 0px;
		position:absolute;
		top:100px;
		left:7.5%;
		z-index:1000;
		display:none;
		/* CSS 3 */
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		border-radius:4px;
		overflow: hidden;
		text-align: center;

		.itinerary-content {

			.item-1 {
			
				background:#f5f5f5;
				width:60%;
				margin:20px auto 20px auto;
				padding:20px 0px;
				position: relative;
				box-shadow: 0 2px 4px rgba(0,0,0,.25);
				height:100px;
				border-radius:4px;

				.item-header-drink {
					position: absolute;
					width:100%;
					height:20px;
					top:0;
					background:#badfce;
					margin-bottom:20px;
					border-radius:4px 4px 0px 0px;
					

				}
			}

			.item-2 {
			
				background:#f5f5f5;
				width:60%;
				margin:0 auto;
				padding:20px 0px;
				position: relative;
				box-shadow: 0 2px 4px rgba(0,0,0,.25);
				height:100px;
				border-radius:4px;

				.item-header-fun {
					position: absolute;
					width:100%;
					height:20px;
					top:0;
					background:#ee5c20;
					margin-bottom:20px;
					border-radius:4px 4px 0px 0px;
					

				}
			}


		}

	}

	#mask { 
		position:fixed;
		top:48px;
		left:0;
		background:rgba(0,0,0,0.6);
		z-index:500;
		width:100%;
		height:100%;
		display:none;
		opacity: 0;
	}

	#overlay:target, #overlay:target + #mask {
		display:block;
		opacity:1;
		
	}

	#do-it:target, #do-it:target + #mask {
		display:block;
		opacity:1;
		transition: opacity .25s;
	}

	#itinerary:target, #itinerary:target + #mask {
		display:block;
		opacity:1;
		transition: opacity .25s;
	}

	.close { 
		position:absolute;
		top:7px;
		right:10px;
		text-decoration:none;
	}

	.open-overlay { 
		position: absolute;
		top:400px;
		left:200px;
		color:#fff;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(0,0,0,.5);
	}
}
/**** MOBILE ***/
@media screen and (max-width: 480px) {

	// body {
	// 	background:url(../img/sf-map.gif);
	// }

	html {
		height: 100%;
	}

	body {
		margin: 0;
		padding: 10px 20px 20px;
		font-family: Arial;
		font-size: 16px;
        height: 100%; 
        margin: 0px; 
        padding: 0px;


	}

	#map-container {
		width: 100%; 
		height: 100%;
		// position: absolute;
		// margin-top: 37px;
		// padding-top: 37px;
		// z-index: 100;

	}

	#map {
		height: 100%;
		width: 100%;
	}


	.pure-menu {
		background:#eee;
		position: fixed;
		margin-top:0px;
		width:100%;
		margin-bottom:100px;
		z-index: 100;
		padding:5px 0px 0px 0px;
		box-shadow: 0 2px 4px rgba(0,0,0,0);
	}

	.pure-menu a, .pure-menu .pure-menu-heading  {
		padding:0px 20px 10px 20px;
	}

	.zoom-ui {

		position: absolute;
		top:70px;
		left:15px;
		width:40px;
		height:80px;
		border-top:1px white solid;
		border-bottom:1px #ccc solid;
		text-align: center;
		border-radius:4px;
		z-index: 100;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);


		p {
			margin:0px;
			padding:5px 0px 0px 0px;
			color:#777;
			font-size:28px;
			font-weight:600;
			text-shadow: 0 1px 0 rgba(255,255,255,.4);
		}

		.zoom-in {
			width:40px;
			height:50%;
			background:#ddd;
			border-radius:4px 4px 0px 0px;
		}

		.zoom-out {
			width:40px;
			height:50%;
			background:#eee;
			border-radius:0px 0px 4px 4px;
		}

	}

	.green-button {
		background-color: #b7e42a;
		border-bottom:1px #98bc0f solid;
		width:70%;
		position: relative;
		font-size: 21px;
		font-weight:600;
		color:white;
		text-shadow: 0 -1px 0 #98bc0f;
		border-radius:4px;

	}

	.green-button-sm {
		background-color: #b7e42a;
		border-bottom:1px #98bc0f solid;
		width:120px;
		position: relative;
		text-align: center;
		font-size: 21px;
		font-weight:600;
		color:white;
		text-shadow: 0 -1px 0 #98bc0f;
		border-radius:4px;
		margin:20px 10px 0px 10px;

	}



	#button-bar {

		width:100%;
		position: fixed;
		bottom:0px;
		background:#eee;
		background:rgba(230,230,230,.9);
		border-top:1px rgba(255,255,255,.9) solid;
		padding:10px 0px;

		.pure-button {
			float: left;
			padding:8px 10px;
			color:#fff;
			font-weight:600;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);

		}
		.buttons {
			margin:0px auto;
			position: relative;
			width:310px;

			.hungry {
				background:#f5c912;
				margin-right:3%;
				border-top:1px #ffe269 solid;
				border-bottom:1px #d3ac0b solid;
			}

			.sober {
				background:#badfce;
				margin-right:3%;
				border-top:1px #c7f2dc solid;
				border-bottom:1px #8ab7a0 solid;
			}

			.bored {
				background:#ee5c20;
				border-top:1px #f98258 solid;
				border-bottom:1px #c63806 solid;
			}

			.active {

			}
		}
	}

	.mark {
		width:60px;
		height:75px;
		position: relative;	

		span {
			position: absolute;
			left:25px;
			top:18px;
			font-weight: 600;
			
		}
	}

	.food {
		background:url(../img/food-mark.png);
	}

	.drink {
		background:url(../img/drink-mark.png);
	}

	.bored {
		background:url(../img/bored-mark.png);
	}

	*{margin:0;padding:0;}
	
	#overlay { 
		width:85%;
		margin:0 auto;
		background:#f5f5f5;
		border-top:1px white solid;
		border-bottom:1px #ddd solid;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);
		color:444;
		padding:20px 0px;
		position:absolute;
		top:5%;
		left:7.5%;
		z-index:1000;
		display:none;
		/* CSS 3 */
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		border-radius:4px;
		overflow: hidden;
		
		h2 {
			font-size:18px;
			text-shadow: 0 1px 0 rgba(255,255,255,.25);
		}

		p {
			font-size:10px;
		}

		.arrow {
			background:url(../img/arrow.png);
			width: 20px;
			height: 23px;
			position: absolute;
			float: right;
			right:10px;
			margin-top:-40px;
			opacity: .3;
		}

		.back-arrow {
			background:url(../img/back-arrow.png);
			width: 20px;
			height: 23px;
			display: block;
			float: left;
			margin:13px 10px 0px -10px;
			opacity: .3;
		}


		.disabled {
			display:none;
		}

		.location {
			padding-left:20px;
			width: 100%;
			background: linear-gradient(to bottom, #f5f5f5 0%,#fafafa 100%);
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
		}
		.category {
			text-align: center;
			width: 100%;
			background-color: #f5f5f5;
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
			height:40px;

			h2 {
				padding:0px;
				margin-top:7px;
				color:white;
				font-size: 21px;
			}
		}

		.hungry {
				background:#f5c912;
				border-top:1px #ffe269 solid;
				border-bottom:1px #d3ac0b solid;

				h2{
					text-shadow: 0 -1px 0 #d3ac0b;
				}
		}

		.sober {
			background:#badfce;
			border-top:1px #c7f2dc solid;
			border-bottom:1px #8ab7a0 solid;

				h2{
					text-shadow: 0 -1px 0 #8ab7a0;
				}
		}

		.bored {
			background:#ee5c20;
			border-top:1px #f98258 solid;
			border-bottom:1px #c63806 solid;

				h2{
					text-shadow: 0 -1px 0 #c63806;
				}
		}

		.venue {
			padding-left:20px;
			width: 100%;
			background: linear-gradient(to bottom, #f5f5f5 0%,#fafafa 100%);
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
		}
		.item {
			padding-left:20px;
			width: 100%;
			background: linear-gradient(to bottom, #f5f5f5 0%,#fafafa 100%);
			border-top:1px #fff solid;
			border-bottom:1px #eee solid;
		}
		.do-button {
			width:70%;
			position: relative;
			margin:20px auto 0 auto;
			text-align: center;

		}

	}

	#do-it { 
		width:85%;
		margin:0 auto;
		background:url(../img/sunburst.png) #fafafa;
		background-position: center;
		border-top:1px white solid;
		border-bottom:1px #ddd solid;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);
		color:#444;
		padding:20px 0px;
		position:absolute;
		top:10%;
		left:7.5%;
		z-index:1000;
		display:none;
		/* CSS 3 */
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		border-radius:4px;
		overflow: hidden;
		text-align: center;
		margin-bottom:20px;


		.do-it-content {
			background:#f5f5f5;
			width:70%;
			margin:0 auto;
			padding:20px 0px;
			position: relative;
			box-shadow: 0 2px 4px rgba(0,0,0,.25);
			margin-bottom:10px;

			.item-header-food {
				position: absolute;
				width:100%;
				height:20px;
				top:0;
				background:#f5c912;
				border-radius:4px 4px 0px 0px;
				margin-bottom:20px;
			}
		}


	}

	#itinerary { 
		width:85%;
		margin:0 auto;
		background:#fafafa;
		background-position: center;
		border-top:1px white solid;
		border-bottom:1px #ddd solid;
		box-shadow: 0 2px 4px rgba(0,0,0,.25);
		color:#444;
		padding:10px 0px;
		position:absolute;
		top:10%;
		left:7.5%;
		z-index:1000;
		display:none;
		/* CSS 3 */
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		border-radius:4px;
		overflow: hidden;
		text-align: center;

		.itinerary-content {

			.item-1 {
			
				background:#f5f5f5;
				width:70%;
				margin:20px auto 20px auto;
				padding:20px 0px;
				position: relative;
				box-shadow: 0 2px 4px rgba(0,0,0,.25);
				height:100px;
				border-radius:4px;

				.item-header-drink {
					position: absolute;
					width:100%;
					height:20px;
					top:0;
					background:#badfce;
					margin-bottom:10px;
					border-radius:4px 4px 0px 0px;
					

				}
			}

			.item-2 {
			
				background:#f5f5f5;
				width:70%;
				margin:0 auto;
				padding:20px 0px;
				position: relative;
				box-shadow: 0 2px 4px rgba(0,0,0,.25);
				height:100px;
				border-radius:4px;
				margin-bottom:20px;

				.item-header-fun {
					position: absolute;
					width:100%;
					height:20px;
					top:0;
					background:#ee5c20;
					margin-bottom:10px;
					border-radius:4px 4px 0px 0px;
					

				}
			}


		}

	}


	#mask { 
		position:fixed;
		top:0;
		left:0;
		background:rgba(0,0,0,0.6);
		z-index:500;
		width:100%;
		height:100%;
		display:none;
	}

	#overlay:target, #overlay:target + #mask {
		display:block;
		opacity:1;
	}

	#do-it:target, #do-it:target + #mask {
		display:block;
		opacity:1;
	}

	#itinerary:target, #itinerary:target + #mask {
		display:block;
		opacity:1;
	}

	.close { 
		position:absolute;
		top:2px;
		right:10px;
		text-decoration:none;
	}

	.open-overlay { 
		position: absolute;
		top:200px;
		left:100px;
		color:#fff;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(0,0,0,.5);
	}

}